@import url("https://unpkg.com/primeng@18.0.2/resources/themes/lara-light-blue/theme.css");
@import url("https://unpkg.com/primeng@18.0.2/resources/primeng.min.css");
@import url("https://unpkg.com/primeicons@7.0.0/primeicons.css");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #eef2ff;
}
